// I should contain variables for things like fonts, colours, stylings, etc. 

// FONTS
$fontStack: 'Lucida Sans', sans-serif;

// FONT SIZES
$p: 1.1rem;
$h1: 1.75rem;
$h2: 1.65rem;
$h3: 1.55rem;
$h4: 1.45rem;
$h5: 1.35rem;
$h6: 1.25rem;

// PADDING
$p-1: 1rem;

// WIDTH
$fullWidth: 100%;
$halfWidth: 50%;

// MARGIN
$marginCenter: 0 auto;
$margin-1: 1rem;

// ALIGN
$alignCenter: center;

// COLOURS
$colorWhite: #fff;
$colorWhitesmoke: whitesmoke;

$colorBlack: #000;
$colorBrightBlue: #b1d0ee;
$colorGreen: #178117;

$colorBright: #7b9ec0;
$colorDark: darken($colorBright, 35%);

// TEXT STYLING
$fontBold: bold;

// BREAKPOINTS
$breakpoint-small: "only screen and (max-width: 25rem)";
$breakpoint-medium: "only screen and (max-width: 60rem)";


// Basic padding and line height that we can extend to all text
%text-default {
    max-width: 75ch;
    line-height: 1.65rem;
    padding: 1rem;
    font-size: $p;
}


